/* ------Generics------ */
/* CSS RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* end CSS RESET */

body{
    font-family: sans-serif;
}

img{
    width: 100%;
}

a{
    color: white;
    text-decoration: none;
    padding: 0 3px;
}

/* ------Utilities------ */
.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.centered{
    padding-left: 20%;
    padding-right: 20%;
}

/* .text-right{
    text-align: right;
}

.text-center{
    text-align: center;
} */

.align-center{
    align-items: center;
}

/* ------Content------ */

/* HEADER */
header{
    background-color: #ff6900;
    color: #fff;
    position: fixed;
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    z-index: 3;
}

header>div{
    width: 125px;
}
header a{
    font-weight: bold;
    font-size: 0.8rem;
}

.svg{
    flex-basis: 20px;
    padding: 0 3px;
}

/* /HEADER */

/* MAIN */
main{
    padding-top: 5%;
    z-index: -1;
  }

.card{
    padding: 10px;
    margin: 0px 10px;
    width: calc(100% / 3 - 20px);
    flex-shrink: 0;
    border-radius: 10px;
    /* position: relative; */
  }

 .card>figure{
  background-color: #eee;
}



.card figure{
    position: relative;
}

/* .card figure div{
    position: absolute;
} */
.discount{
    position: absolute;
    bottom: 7%;
    z-index: 2;
}

.discount.flex div{
        padding: 2%;
        bottom: 7%;
        color: #fff;
        font-size: 0.6rem;
        font-weight: bold;
}

figcaption span{
    font-size: 0.6rem;
}

figcaption h3{
    font-size: 0.7rem;
}

.sale{
        background-color: red;
        margin-right: 2%;
    }

.eco{
        background-color: green;
}

.price{
    color: red;
    font-weight: bold;
    font-size: 0.6rem;
}

.full-price{
    font-size: 0.6rem;
    text-decoration: line-through;
}

.hover{
    position: absolute;
    z-index: -1;
}

.fix{
    position: relative;
}

.heart{
    position: absolute;
    right: 0;
    top: 2%;
    font-size: x-large;
    background-color: #fff;
    width: 11%;
    text-align: center;
    cursor: default;
    z-index: 2;
}

.card:hover .heart{
    color: red;
}

.card:hover .hover{
    z-index: 1;
}

  /* main section{
    margin-left: -10px;
    margin-right: -10px;
  } */
/* /MAIN */

/* FOOTER */

footer{
    background-color: #1a1a1a;
    color: #fff;
    /* position: fixed; */
    width: 100%;
    padding: 20px 10px;
    justify-content: space-between;
    align-content: center;
    bottom: 0;
    font-size: 0.7rem;
}

.info-links a:first-of-type{
    padding-left: 0;
}

footer a{
    padding-top: 2%;
}

.connect h4{
    display: inline-block;
    padding: 5% 0;
}

/* /FOOTER */