/* ------Generics------ */
/* CSS RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* end CSS RESET */

body{
    font-family: sans-serif;
}

img{
    width: 100%;
}

a{
    color: white;
    text-decoration: none;
    padding: 0 3px;
}

/* ------Utilities------ */
.flex{
    display: flex;
}

.centered{
    padding-left: 100px;
    padding-right: 100px;
}

/* .text-right{
    text-align: right;
}

.text-center{
    text-align: center;
} */

.align-center{
    align-items: center;
}

/* ------Content------ */

/* HEADER */
header{
    background-color: #ff6900;
    color: #fff;
    position: fixed;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

header>div{
    width: 125px;
}
header a{
    font-weight: bold;
    font-size: 0.8rem;
}

.svg{
    flex-basis: 20px;
    padding: 0 3px;
}

/* /HEADER */

/* MAIN */

main{
    padding-top: 100px;
  }

.card{
    padding: 10px;
    margin: 0px 10px;
    width: calc(100% / 3 - 20px);
    flex-shrink: 0;
    border-radius: 10px;
    position: relative;
  }

 .card>figure{
  background-color: #eee;
}
  /* main section{
    margin-left: -10px;
    margin-right: -10px;
  } */
/* /MAIN */

/* FOOTER */

footer{
    background-color: rgb(150, 4, 242);
    color: #fff;
    position: fixed;
    width: 100%;
    padding: 20px 10px;
    justify-content: space-between;
    align-content: center;
    bottom: 0;
}

/* /FOOTER */